body{
    background-color: rgb(245, 158, 191);
    font-family: Arial,sans-serif;
    padding: 0%;
    margin: 0%;
}

header{
    background-color: lab(58.81% 68.78 6.56);
    color: white;
    text-align: center;
    padding: 20px;
    background-image: url('https://github.com/Rutu-ja22/minifoodwebsite/blob/main/pic1.jpg');
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;

    * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f0a6bf;
  text-align: center;
}
}
header h1{
    font-size: 50px;

}

header h2{
    font-size: 50px;

}
header p {

font-size: 20px;
}
 nav ul{
    background-color:rgb(233, 125, 170);
    list-style: none;
    color: black;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    * {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #e293aa;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 10px;
  padding: 10px;
  background: #2196F3;
  color: rgb(224, 161, 182);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

 }
 nav ul li a 
 {
    text-decoration:none;
    margin: 20px;
    color: black;
 }
 section
 {
    padding: 20px;

 }
 footer{
    background-color: rgb(247, 195, 221);
    color: black;
    text-align: center;
    padding: 20px;

 }
